body {
    background-color: aqua;
    margin: 0;
}

.navigation {
    background-color: pink;
    padding: 20px;
    margin: 10px;

    
}

.navigation > div {
display: inline-block;
background-color: yellow;
width: 100%;
}

img {
    width: 150px;
}

a {
    background-color: green;
}
